body {
    margin: 0px;
    font-family: "Segoe UI", Arial, sans-serif;
  }
  
  @font-face {
    font-family: "edgeicons";
    src: url("edge-icons-Regular.eot");
    src: url("edge-icons-Regular.eot?#iefix") format("embedded-opentype"),
      url("edge-icons-Regular.woff") format("woff"),
      url("edge-icons-Regular.ttf") format("truetype");
  }
  
  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }
  
  .main .main-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  
  .main .left,
  .main .right {
    width: 50%;
  }
  
  .main .left {
    background: url(./bird.svg) #1da1f2 no-repeat;
    background-size: cover;
    display: flex;
  }
  
  .main .left .items-wrapper {
    color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .main .left .items-wrapper .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 400px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  
  .main .left .items-wrapper .item .label {
    font-size: 18px;
    font-weight: bold;
  }
  
  .main .left .items-wrapper .icon {
    font-size: 35px;
    margin-right: 15px;
  }
  
  .icon {
    background: transparent;
    display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    position: relative;
  }
  
  .icon::before {
    display: block;
    font-family: "edgeicons";
    font-weight: normal;
    font-style: normal;
    text-align: center;
    -webkit-font-smoothing: antialiased;
  }
  
  .icon--search::before {
    content: "\f058";
  }
  
  .icon--people::before {
    content: "\f178";
  }
  
  .icon--reply::before {
    content: "\f151";
  }
  
  .icon--bird::before {
    content: "\f179";
  }
  
  .main .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .main .top {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 25px;
  }
  
  .main .middle {
    max-height: 300px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
  }
  
  .main .middle h1 {
    font-size: 27px;
    line-height: 32px;
    margin-bottom: 30px;
  }
  
  .main .middle .btn-sign-up {
    cursor: pointer;
    display: block;
    margin-bottom: 15px;
    background-color: #1da1f2;
    border: 1px solid #1da1f2;
    color: #fff;
    border-radius: 100px;
    padding: 6px 16px;
    text-align: center;
    margin-top: 15px;
  }
  
  .main .middle .btn-login {
    display: block;
    width: auto;
    text-align: center;
  }
  
  .main .middle .icon.icon--bird {
    color: #1da1f2;
    font-size: 45px;
    margin-bottom: 8px;
  }
  
  input[type="text"] {
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    padding: 12px;
    display: block;
  }
  
  .input-group {
    margin-right: 12px;
  }
  
  .forgot-password {
    color: #aab8c2;
    font-size: 14px;
  }
  
  .btn-login {
    background-color: #fff;
    border: 1px solid #1da1f2;
    color: #1da1f2;
    border-radius: 100px;
    padding: 12px;
    font-size: 14px;
    line-height: 20px;
    box-sizing: border-box;
    width: auto;
    height: 44px;
    width: 70px;
    font-weight: bold;
  }
  
  .btn-login:hover {
    cursor: pointer;
    background-color: #eaf5fd;
    color: #1da1f2;
  }
  
  .footer .nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
  }
  
  .footer .nav ul li {
    margin-right: 15px;
    color: #aab8c2;
    font-size: 12px;
  }
